<div class="eqLogic eqLogic-widget allowResize allowReorderCmd " style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
    
	<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></a></strong></center>    
    <br>
    <div class="verticalAlign">
    	<center>
        	<div id="icon" class="#etat#"  #info# style="font-size : 3em;">
    			#icon#
            </div>
        </center>
    </div>
  	<div class="verticalAlign">
    	<center>
    	<span  style="background-color:#cmdColor# !important;border-color : transparent !important;height:32px!important"  #action# >#nb# / #nb_triggers#</span> 
        </center> 

    </div>
  
</div>


<script>

	
 function group_action_#id#() {
		$.ajax({// fonction permettant de faire de l'ajax
			type: "POST", // methode de transmission des données au fichier php
			url: "plugins/groupe/core/ajax/groupe.ajax.php", // url du fichier php
			data: {
				action: "actionAll",
				id: '#id#'
			},
			dataType: 'json',
			error: function(request, status, error) {
				handleAjaxError(request, status, error);
			},
			success: function(data) { // si l'appel a bien fonctionné
				if (data.state != 'ok') {
					$('#div_alert').showAlert({message:  data.result,level: 'danger'});
					return;
				}
			}
		});	 
 }	
 
 function group_info_#id#() {
	$('#md_modal2').dialog({
		width : 500,
		height: 500,
		autoOpen: false,
		modal: true,
		title: '#name_display#'
	});	 
	 
	$('#md_modal2').load('index.php?v=d&plugin=groupe&modal=modal&id=#id#');
	$('#md_modal2').dialog('open');	 
	 
 }
</script>	

<style>
.data {
	font-size : 1em;
	font-style:bold;
	border:1px solid #333;
	border-radius:3px;
	padding:4px;
}
</style>